body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #e6e6e6;
}

.chat-app {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #232323;
    width: 30%;
    cursor: default;
    border-right: 1px solid #3a3a3a;
}

.chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.active-user {
    background-color: #34b7f1;
    color: #1a1a1a;
}

.sidebar-header,
.chat-header {
    padding: 1rem;
    border-bottom: 1px solid #3a3a3a;
    background-color: #202020;
}

.contact-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact {
    padding: 1rem;
    border-bottom: 1px solid #3a3a3a;
    cursor: default;
}

.contact-hover {
    background-color: #2a2a2a;
}

.messages {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 1rem;
    padding: 5px;
    border-radius: 5px;
    display: inline-flex;
    max-width: 60%;
    font-size: 16px;
    margin-bottom: 10px;
}

.message .username {
    font-weight: bold;  /* Bold usernames for distinction */
    color: #e6e6e6;     /* Use a different color for usernames, e.g., a shade of blue */
    margin-right: 8px; /* Some spacing between the username and the message */
}

.message .user-message {
    color: #333; /* Dark grey for the actual message */
}

.message.received .user-message {
    color: #e6e6e6;
}

.message.sent {
    background-color: #34b7f1;
    color: #1a1a1a;
    align-self: flex-end;
}

.message.received {
    background-color: #2a2a2a;
    color: #e6e6e6;
    align-self: flex-start;
}

.message-input {
    display: flex;
    padding: 1rem;
    border-top: 1px solid #3a3a3a;
    align-items: center;
    background-color: #1a1a1a; /* Fixing green dot issue */
}

.message-input input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #3a3a3a;
    background-color: #232323;
    border-radius: 20px;
    color: #e6e6e6;
    margin-right: 1rem;
}

.message-input button {
    background-color: #34b7f1;
    color: #1a1a1a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: linear-gradient(to right, #34b7f1, #11998e);
    transition: 0.3s;
    padding: 0.75rem 1.5rem;
}

.message-input button:hover {
    background: linear-gradient(to right, #11998e, #34b7f1);
}

.warning-message, .system-notification {
    text-align: left;
    padding: 8px 12px;
    color: #333;
    font-weight: bold;
    background: linear-gradient(to right, #11998e, #38ef7d);
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    margin: 0.5rem 0;
    border-radius: 5px;
    align-self: center;
}

.join-message {
    align-self: center;
    text-align: center;
    background: linear-gradient(to right, #11998e, #38ef7d);
    padding: 8px 12px;
    color: #333;
    border-radius: 5px;
    margin-bottom: 8px;
    font-weight: bold;
    
}

.contact.active-user::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-block;
}

.contact:hover {
    background-color: #2a2a2a;
}

/* Responsive styling */
@media (max-width: 768px) {
    .chat-app {
        flex-direction: column;
    }

    .sidebar,
    .chat-area {
        width: 100%;
    }
}
